.chatOur-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .chatOur-card {
    width: 960px;
    padding: 28px 0 28px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img {
      display: block;
      width: 180px;
      height: 190px;
      border: none;
    }
    .desc-wrap {
      display: flex;
      justify-content: center;
      height: 160px;
      flex-direction: column;
      margin-left: 60px;
      p {
        line-height: 46px;
        display: block;
        color: #fff;
        font-size: 24px;
        font-family: PingFangSC-Medium, PingFang SC;
        margin: 0;
        padding: 0;
      }
    }
  }
}
