.chatOur-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 485px;
  padding-bottom: 30px;
  .chatOur-card {
    margin-top: 30px;
    width: 960px;
    padding: 28px 0 28px 28px;
    // background-color: #090909;
    display: flex;
    justify-content: center;
    flex-direction: row;
    img {
      display: block;
      width: 150px;
      height: 160px;
      border: none;
    }
    .desc-wrap {
      display: flex;
      justify-content: center;
      height: 160px;
      flex-direction: column;
      margin-left: 60px;
      p {
        line-height: 46px;
        display: block;
        color: #fff;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        margin: 0;
        padding: 0;
      }
    }
  }
}
