.homeWrap {
  background-image: url('./images/backgroundimg.jpg');
  background-repeat: repeat-y;
  height: 100vh;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  .containner {
    .banner {
      width: 100%;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .picDesc {
        width: 1200px;
        .h2Contain {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          margin: 30px;
          h2 {
            width: 1200px;
            font-size: 38px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #fff;
            margin: 0;
            padding: 0;
          }
        }
        .picDescContainner {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          .picDesc-left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          }
          .picDesc-rigth {
            .picCard {
              background-repeat: no-repeat;
              width: 400px;
              height: 532px;
              background-image: url('https://loving-xinxin.coding.net/p/sheyingtupian/d/sheyingtupian/git/raw/master/%E9%A6%96%E9%A1%B5_%E8%AF%81%E4%BB%B6%E7%85%A7.jpg');
              background-size: cover;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              h4 {
                font-size: 38px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #fff;
              }
              .toUnderstand .ant-btn {
                display: block;
                font-size: 16px;
                font-family: PingFangSC-Medium, PingFang SC;
                color: #fff;
                text-align: center;
                border: 1px solid #fff;
                background-color: transparent;
                padding: 0 30px;
                border-radius: 20px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                box-sizing: border-box;
                display: none;
              }
              .toUnderstand .ant-btn:hover {
                color: #000;
                border: 1px solid transparent;
                background-color: #fff;
                display: block;
              }
            }
          }
          .picDesc-rigth:hover {
            .toUnderstand .ant-btn {
              display: block;
            }
          }
          .teamPic {
            background-image: url('./images/banner3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 1200px;
            height: 390px;
            .team {
              background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
              a {
                display: block;
                height: 390px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .ant-btn {
                  color: #fff;
                  border: 1px solid #fff;
                  background-color: transparent;
                  padding: 0 30px;
                  border-radius: 20px;
                  height: 40px;
                  line-height: 40px;
                  font-size: 18px;
                  box-sizing: border-box;
                }
              }
              .ant-btn:hover {
                font-size: 16px;
                font-family: PingFangSC-Medium, PingFang SC;
                color: #000;
                border: 1px solid transparent;
                background-color: #fff;
                padding: 0 30px;
                border-radius: 20px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                box-sizing: border-box;
              }
            }
          }
          .teamPic:hover {
            .team {
              background: linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)
              );
            }
          }
        }
      }
    }
  }
}
